.app-market{
    width: 50px;
}
.parent{
    border: 2px solid #c6d166;
    border-radius: 15px;
    width: 300px;
    height: 250px;
}
.parte1{
    display: flex;
    justify-content: space-around;
}
h3{
    margin-left: 15px;
}
p{
    margin-left: 15px;
}
.button1{
    margin-left: 10px;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.button2{
    margin-left: 10px;
    margin-top: 22px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.button3{
    margin-left: 10px;
    margin-top: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
}
.uncle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px; 
}
.button4{
font-size: 20px;
border-radius: 15px;
background-color: rgb(243, 239, 26);
transition: 0.3s ease;
} 
.button4:hover{
    color: #c6d166;
    background-color: rgb(133, 131, 127);
}
 h1{
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h6{
    color: grey;
    margin-left: 40px;
} 
.end{
    margin-right: 90px;
    margin-top: 15px;
}
.lightspeed{
    width: 40px;
    height: 40px;
    margin-top: 60px;
    color: #e2d6d6;
}
.parte2{
    display: flex;
    justify-content: space-around;
    
}
.parte3{
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}
.latestblog{
    display: flex;
    flex-direction: column;
}

.foter{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: azure;
}
.latestblogg{
    margin-left: 10px;
}
.superhero{
    color: antiquewhite;
    background-color: black;
    margin-top: 50px;
}
.icon{
    margin-top: 40px;
    display: flex;
    justify-self: end;
}
.icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    font-size: 1.3rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: #ffffff;
}
.icon a:hover{
    color: #24262B;
    background-color: #ffffff;
}
.search{
    margin-left: 180px;
   color: #e2d6d6;
   background-color: #fdfcfc;
}
.responsive{
    text-align: end;
}
.search{
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    width: 150px;
}
.app{
    margin-bottom: 10px;
}
.world{
    padding-left: 50px;
    width: 35px;
    height: 35px;
    margin-bottom: 15px;
}
.parte4 {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    
}
.last a{
    margin-right: 15px;
}
.superman{
    border-top: 2px solid rgb(138, 134, 134);
}
@media(max-width:600px){
.button1, .button2, .button3{
    display: none;
}
.uncle{
    width: 95%;
    border:0.3px solid black ;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.button4{
    margin-left: 70px;
    margin-top: 50px;
}
.text{
    text-align: unset;
}
.uncle h6{
    display: none;
}
.lightspeed{
    display: none;
}
.search{
    margin-left: 50Px;
    margin-bottom: 40px;
    
}
.parte2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
}
.parte3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}

.icon {
    margin-left: auto;
}
}


